.app {
    width: 100%;
    max-height: 100vh;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: var(--mainColor);
    display: flex;
}

.left {
    width: 380px;
    display: flex;
    flex-direction: column;
    background: var(--mainColor2);
    /*box-shadow: 0 0 15px rgba(0,0,0,.4);*/
}

/* Block search */
.search__block {
    padding: 10px 20px;
}

.search__block input {
    background:#0d1114;
    color: var(--textColor);
    display: block;
    width: 100%;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    outline: none;
}

/* Button "create new chat" in block search */
.create_chat_button {
    padding: 14px 10px;
    background: var(--buttonColor);
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    transition: all 500ms;
}

.create_chat_button:hover {
    box-shadow: 0px 0px 20px rgb(38,75,243, .8);
}

/* All user chats */
.chats {
    margin: 10px 0 0;
    overflow: auto;
    max-height: initial;
    /*background: #aaa;*/
}



.chats::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}

.chats::-webkit-scrollbar-track{
    background: rgba(0,0,0,.3);
    border-radius: 10px;
}


.chats::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,.4);
}

.chat_container {
    flex: 4;
}
