@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**
 * Переменные
 *
 * Используются вот так:
 *
   .class {
      color: var(--textColor);
   }
 *
*/
#root {
    --mainColor: #0d141a;
    --mainColor2: #22272e;
    --buttonColor: rgb(66, 96, 247);
    --textColor: rgba(255,255,255, .8);
}

body {
    font-family: Roboto, serif;
}

a {
    text-decoration: none;
    color: var(--textColor);
}

